<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar d-flex align-items-center p-1">
      <div class="container my-0">
        <h3><%= link_to 'Crappy AirBnB', flats_path %></h3>
        <p class="btn btn-primary white-text"><%= link_to "Add flat", new_flat_path %></p>
      </div>
    </div>
    <div class="background-col border-top border-4">
      <%= yield %>
    </div>
  </body>
</html>
